# macOS & OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.zip

# Laravel Backend Ignored
backend/.env
backend/.env.backup
backend/.env.production
backend/vendor/
backend/node_modules/
backend/public/storage
backend/storage/logs/*.log
backend/storage/framework/cache/data/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/database/*.sqlite
backend/database/*.sqlite-journal

# Flutter App Ignored
app/.dart_tool/
app/.flutter-plugins
app/.flutter-plugins-dependencies
app/.packages
app/.pub-cache/
app/.pub/
app/build/
app/ios/Pods/
app/ios/.symlinks/
app/ios/Flutter/Flutter.framework
app/ios/Flutter/Flutter.podspec
app/ios/Flutter/Generated.xcconfig
app/ios/Flutter/app.flx
app/ios/Flutter/app.zip
app/ios/Flutter/flutter_assets/
app/ios/Flutter/flutter_export_environment.sh
app/android/.gradle/
app/android/local.properties
app/android/app/build/

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo
.phpunit.result.cache
