<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1019199889747-3ldj67t439gk5lpmjuep70teletqpvb0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1019199889747-3ldj67t439gk5lpmjuep70teletqpvb0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1019199889747-m6du9hqvk59g9cs0kt59e4ou55c2no3c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBfzY3SzPcUgAnPiXkrPxmFtqXo-u8tQs8</string>
	<key>GCM_SENDER_ID</key>
	<string>1019199889747</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kuwaitsouq.app</string>
	<key>PROJECT_ID</key>
	<string>kuwaitsouq-app</string>
	<key>STORAGE_BUCKET</key>
	<string>kuwaitsouq-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019199889747:ios:d29b8326b5eb36db7c01a6</string>
</dict>
</plist>